# Modules test will not try to import
skip:
# # Cause errors and don't throw exceptions cleanly
 - pandas.io.clipboard
 - matplotlib.backends
# # Too many, or not necessary
 - iris.tests
 - cartopy.tests
 - xarray.tests
 - matplotlib.tests # No test data
 - pyparsing
 - scipy._lib.array_api_compat.torch ### Don't support pytorch
 - urllib3.contrib.emscripten ### Used for web browser integration and also experimental: https://urllib3.readthedocs.io/en/latest/reference/contrib/emscripten.html

# Preload these modules before testing to avoid weird python issues
preload:
- xarray
- setuptools.command.build_ext ### Strange issue with numba.pycc

# Allow loading, but pass exceptions. When exceptions no longer triggered
# can remove
exception:
- fontTools.ufoLib #
- pandas.core._numba.kernels #
- scipy._lib.array_api_compat.cupy #
- backports.zstd._cffi # See https://github.com/ACCESS-NRI/model-release-condaenv/issues/47
