name: Deploy telemetry configuration
on:
  workflow_dispatch: # Allows manual triggering (incase environment variables are updated)
  push:
    branches:
      - main
    paths:
      - 'telemetry/payu' # Run when telemetry configuration is updated
jobs:
  deploy:
    runs-on: ubuntu-latest
    environment: Gadi
    steps:
      - name: Check Github Environment configuration
        run: |
          vars_unset=false
          if [ -z "${{ secrets.PAYU_TELEMETRY_URL }}" ]; then
            echo "::error::secrets.PAYU_TELEMETRY_URL is unset. PAYU_TELEMETRY_URL is the URL for the telemetry requests"
            vars_unset=true
          fi
          if [ -z "${{ secrets.PAYU_TELEMETRY_TOKEN }}" ]; then
            echo "::error::secrets.PAYU_TELEMETRY_TOKEN is unset. PAYU_TELEMETRY_TOKEN is the token for sending requests to the telemetry service"
            vars_unset=true
          fi
          if [ -z "${{ vars.PAYU_SERVICE_NAME }}" ]; then
            echo "::error::vars.PAYU_SERVICE_NAME is unset. PAYU_SERVICE_NAME is the name of the service in telemetry requests"
            vars_unset=true
          fi
          if [ -z "${{ vars.PAYU_TELEMETRY_HOST }}" ]; then
            echo "::error::vars.PAYU_TELEMETRY_HOST is unset. PAYU_TELEMETRY_HOST is used in headers for telemetry requests"
            vars_unset=true
          fi
          if [ -z "${{ vars.HOSTNAME }}" ]; then
            echo "::error::vars.HOSTNAME is unset. HOSTNAME is used to identify the HPC environment"
            vars_unset=true
          fi
          if [ -z "${{ secrets.PAYU_TELEMETRY_CONFIG_FILE }}" ]; then
            echo "::error::secrets.PAYU_TELEMETRY_CONFIG_FILE is unset. PAYU_TELEMETRY_CONFIG_FILE is the path to the telemetry configuration file"
            vars_unset=true
          fi

          if [ "$vars_unset" == "true" ]; then
            echo "::error::Required vars in Gadi Github Environment are unset."
            exit 1
          fi
        
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Insert telemetry configuration to 1-0-0 config version
        run: |
          # Replace placeholders in telemetry configuration file
          sed -i "s|__PAYU_TELEMETRY_URL__|${{ secrets.PAYU_TELEMETRY_URL }}|g" telemetry/payu/1-0-0.json
          sed -i "s|__PAYU_TELEMETRY_TOKEN__|${{ secrets.PAYU_TELEMETRY_TOKEN }}|g" telemetry/payu/1-0-0.json
          sed -i "s|__PAYU_TELEMETRY_SERVICE_NAME__|${{ vars.PAYU_SERVICE_NAME }}|g" telemetry/payu/1-0-0.json
          sed -i "s|__PAYU_TELEMETRY_HOST__|${{ vars.PAYU_TELEMETRY_HOST }}|g" telemetry/payu/1-0-0.json
          sed -i "s|___HOSTNAME__|${{ vars.HOSTNAME }}|g" telemetry/payu/1-0-0.json

      - name: Setup SSH
        uses: access-nri/actions/.github/actions/setup-ssh@main
        id: ssh
        with:
          hosts: |
            ${{ secrets.HOST }}
            ${{ secrets.HOST_DATA }}
          private-key: ${{ secrets.SSH_KEY }}

      - name: Create parent directories
        run: |
          ssh ${{ secrets.USER }}@${{ secrets.HOST }} -i ${{ steps.ssh.outputs.private-key-path }} /bin/bash <<'EOT'
          mkdir -p ${{ secrets.PAYU_TELEMETRY_CONFIG_FILE }}
          EOT

      - name: Sync repository to deployment environment
        run: |
          rsync -e 'ssh -i ${{ steps.ssh.outputs.private-key-path }}' \
            -avz --delete \
            telemetry/payu/ \
            ${{ secrets.USER }}@${{ secrets.HOST_DATA }}:${{ secrets.PAYU_TELEMETRY_CONFIG_FILE}}
      
      # - name: Set permissions on telemetry configuration file
      #   run: |
      #     ssh ${{ secrets.USER }}@${{ secrets.HOST_DATA }} -i ${{ steps.ssh.outputs.private-key-path }} /bin/bash <<'EOT'
          
      #     EOT
